@media (min-width: 1024px) {
  .cadre-wrapper img,
  .cadre-wrapper video,
  .image-wrapper img {
    width: 550px !important;
    height: auto !important;
    object-fit: cover !important;
  }

  .text h2 {
    font-size: 32px !important;
    line-height: 1.3 !important;
  }

  .text p {
    font-size: 18px !important;
    line-height: 1.6 !important;
  }
}
